<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.backend.photo.PhotoMapper">

    <insert id="insertPhoto" parameterType="com.example.backend.photo.PhotoDto">
        INSERT INTO photo (title, content, nickname, newFilename, filename)
        VALUES (#{title}, #{content}, #{nickname}, #{newFilename}, #{filename})
    </insert>

    <select id="selectPhoto" parameterType="Long" resultType="com.example.backend.photo.PhotoDto">
        SELECT photoId, title, content, nickname, newFilename, filename, createdat
        FROM photo
        WHERE photoId = #{photoId}
    </select>

    <select id="selectFirstPage" parameterType="Map" resultType="com.example.backend.photo.cursor.CursorDto">
        SELECT photoId, title, content, nickname, newFilename, filename, createdat
        FROM photo
        ORDER BY photoId DESC
            LIMIT #{size}
    </select>

    <select id="selectNextPage" parameterType="Map" resultType="com.example.backend.photo.cursor.CursorDto">
        <![CDATA[
        SELECT photoId, title, content, nickname, newFilename, filename, createdat
        FROM photo
        WHERE  photoId < #{photoId}
        ORDER BY photoId DESC
            LIMIT #{size}
        ]]>
    </select>
</mapper>