<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.backend.photo.PhotoMapper">

    <insert id="insertPhoto" parameterType="com.example.backend.photo.PhotoDto">
        INSERT INTO photo (title, content, nickname, newFilename, filename)
        VALUES (#{title}, #{content}, #{nickname}, #{newFilename}, #{filename})
    </insert>

    <select id="selectAllPhotos" resultType="com.example.backend.photo.PhotoDto">
        SELECT photoId, title, content, nickname, newFilename, filename, createdat
        FROM photo
        ORDER BY createdat DESC
    </select>

</mapper>