body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn.btn-outline-info.border.border-white.bg-white {
  font-weight: bold;
}

#carousel1 {
  height: 480px;
  display: flex;
  align-items: center;
  background-image: url(../public/test.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#carousel2 {
  height: 480px;
  display: flex;
  align-items: center;
  background-image: url(../public/test1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wrapText {
  margin-left: 17%;
  font-weight: bold;
  color: black;
}

.card-img-top {
  height: 430px;
}

#link {
  text-decoration: none;
  font-size: 14px;
}

#page {
  margin-left: 35px;
}

#buttonPage {
  margin-top: 100px;
}

.myPageLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
